
/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/autohide_sidebar.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/*
  Enhanced by Prit Cee (@pritceeart)
  This customization is shared under the Mozilla Public License v. 2.0.
  Feel free to use, adapt, and elevate as needed. No support is provided, and your creativity is the limit.
  Kindly respect the original license by MrOtherGuy.
*/


/* Apply styles only when toggled using the userchrome toggle addon */
:root[titlepreface="᠎"] {
    #sidebar-box:hover {
        --expanded-width: -1px;
        min-width: var(--expanded-width) !important;
        max-width: var(--expanded-width) !important;
    }

    #sidebar-box, #sidebar-box > #sidebar{
        min-width: 48px !important;
        max-width: 48px !important;
        transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1) !important;
        transition-delay: 0.02s !important; /* decreases stutter */
    }

    #sidebar-box:hover, #sidebar-box:hover > #sidebar{
        min-width: 250px !important;
        max-width: 250px !important;
        transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1) !important;
        transition-delay: 0.02s !important;
    }
}


