* {
   font-family: "JetBrainsMono Nerd Font" !important;
   font-size: 10pt !important; 
}


.toolbarbutton-icon[label="Parse task"], .unified-extensions-item-action-button image{
    filter: brightness(0) saturate(100%) invert(82%) sepia(15%) saturate(626%) hue-rotate(277deg) brightness(101%) contrast(92%);
}

.tab-icon-overlay {
  display: none;
}
.tab-icon-image {
  opacity: 1 !important;
}
